#imCel9_00 {position: absolute; top: 0px; left: 10px; height: 794px; width: 636px; }
#imObj9_00 .imCartBrd {float: left; position: relative; height: 156px; width: 318px; }
#imObj9_00 .imCartItem {position: absolute; left: 2px; top: 0; height: 150px; width: 312px; text-align: left; overflow: hidden; font: 11px Tahoma; color: #000000; background-color: transparent; border: 1px solid #A8A8A8; }
#imObj9_00 .imCRImg {position: absolute; padding: 4px; text-align: center; height: 150px; width: 117px; left: 0; top: 0; overflow: auto; }
#imObj9_00 .imCRDescF {position: absolute; padding: 4px; height: 115px; width: 179px; left: 125px; top: 0; overflow: auto; }
#imObj9_00 .imCRDescR {position: absolute; padding: 4px; height: 92px; width: 179px; left: 125px; top: 0; overflow: auto; }
#imObj9_00 .imCRLast {position: absolute; bottom: 4px; left: 129px; width: 179px; }
#imObj9_00 .imCROpt {position: absolute; bottom: 27px; left: 129px; width: 179px; }
#imObj9_00 input {font: 11px Tahoma; color: #000000; border: 1px solid #AAAAAA; padding: 1px; text-align: right; }
#imObj9_00 select {font: 11px Tahoma; color: #000000; border: 1px solid #AAAAAA; padding: 1px; }
#imObj9_00 {padding: 0px; }
#imCel9_00_Cont {text-align: center; height: 464px; overflow: hidden; }
#imPage {position: relative; height: 794px; }

